# gitignore
node_modules

# code coverage output
coverage
.nyc_output

# Only apps should have lockfiles
npm-shrinkwrap.json
package-lock.json
yarn.lock

# dev scripts
operations/*.js
!operations/201*.js
