{
	"all": true,
	"check": true,
	"reporter": ["text-summary", "text", "html", "json"],
	"lines": 92,
	"statements": 92,
	"functions": 93,
	"branches": 87,
	"exclude": [
		"coverage",
		"operations",
		"test"
	],
	"xreport-coverage": "nyc report --reporter=lcov > coverage.lcov && codecov"
}
