{
	"all": true,
	"check-coverage": true,
	"reporter": ["text-summary", "text", "html", "json"],
	"lines": 98,
	"statements": 97,
	"functions": 93,
	"branches": 94,
	"exclude": [
		"coverage",
		"operations",
		"test"
	]
}
