{
	"all": true,
	"check-coverage": false,
	"reporter": ["text-summary", "text", "html", "json"],
	"exclude": [
		"coverage",
		"operations",
		"test",
		"helpers/assertRecord.js",
		"helpers/callBind.js",
		"helpers/callBound.js",
		"helpers/getOwnPropertyDescriptor.js",
		"helpers/getProto.js",
		"helpers/getSymbolDescription.js",
		"helpers/isFinite.js",
		"helpers/isNegativeZero.js",
		"helpers/maxValue.js",
		"helpers/regexTester.js",
		"helpers/setProto.js",
		"helpers/sign.js"
	]
}
